.ControlPanel {
   .cp-inner-w {
      width: 200px;
      margin: 40px auto 0 auto;
      text-align: left;
      >section {
         margin: 15px auto;
      }
   }
   h4 {
      margin-bottom: 0
   }
   small {
      display: inline-block
   }
}
