.ControlPanel .cp-inner-w {
  width: 200px;
  margin: 40px auto 0 auto;
  text-align: left; }
  .ControlPanel .cp-inner-w > section {
    margin: 15px auto; }

.ControlPanel h4 {
  margin-bottom: 0; }

.ControlPanel small {
  display: inline-block; }
