header {
   padding: 20px 0;
   background-color: black;
   .inner-w {
      text-align: left;
      display: flex;
      justify-content: space-between;
      width: 750px;
   }

   h1 {
      margin-top: 10px;
      color: white;
      font-weight: bold;
      display: inline-block;
   }
   .btn-link {
      color: white;
      &:hover{
         color: white;
      }
   }
}
